/* line 2, public/styles/sass/styles.sass */
body {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 11, public/styles/sass/styles.sass */
main {
  flex: 1 0 auto;
}

/* line 14, public/styles/sass/styles.sass */
p {
  font-size: 16px;
  color: #f8efa6;
}

/* line 18, public/styles/sass/styles.sass */
h1 {
  font-family: 'Libre Baskerville';
  font-size: 4rem;
}

/* line 22, public/styles/sass/styles.sass */
h2 {
  text-align: center;
}

/* line 25, public/styles/sass/styles.sass */
h3 {
  font-size: 29px;
}

/* line 28, public/styles/sass/styles.sass */
nav {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

/* line 33, public/styles/sass/styles.sass */
footer {
  background: #232526;
  background: -webkit-linear-gradient(to right, #191a1b, #171a1b);
  background: linear-gradient(to right, #2b2c2e, #090a0a);
}

/* line 38, public/styles/sass/styles.sass */
footer p {
  color: #ffe089 !important;
}

/* line 41, public/styles/sass/styles.sass */
footer h5 {
  color: #ffe089 !important;
}

/* line 44, public/styles/sass/styles.sass */
footer a {
  color: #ffe089 !important;
}

/* line 47, public/styles/sass/styles.sass */
nav ul a {
  color: #ffe089 !important;
}

/* line 50, public/styles/sass/styles.sass */
input {
  border-bottom: 1px solid #ffe089 !important;
  -webkit-box-shadow: 0 1px 0 0 #ffe089 !important;
  box-shadow: 0 1px 0 0 #ffe089 !important;
  color: #ffe089 !important;
}

/* line 56, public/styles/sass/styles.sass */
label {
  color: #fff !important;
}

/* line 60, public/styles/sass/styles.sass */
.materialize-textarea {
  border-bottom: 1px solid #ffe089 !important;
  -webkit-box-shadow: 0 1px 0 0 #ffe089 !important;
  box-shadow: 0 1px 0 0 #ffe089 !important;
  color: #ffe089 !important;
}

/* line 66, public/styles/sass/styles.sass */
.brand-logo {
  color: #ffe089 !important;
}

/* line 70, public/styles/sass/styles.sass */
.text-input {
  color: #ffe089 !important;
}

/* line 73, public/styles/sass/styles.sass */
.nav-index {
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

/* line 77, public/styles/sass/styles.sass */
.card-register {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

/* line 83, public/styles/sass/styles.sass */
.title {
  color: #ffe089 !important;
}

/* line 86, public/styles/sass/styles.sass */
.text-footer {
  color: #ffe089 !important;
  padding: 10px;
  font-weight: bold !important;
}

/* line 92, public/styles/sass/styles.sass */
i.left {
  float: left;
  margin-right: 18px;
  margin-top: 5px;
}

/* line 97, public/styles/sass/styles.sass */
.publish-icon {
  position: relative;
  top: 6px  !important;
}

/* line 101, public/styles/sass/styles.sass */
.side-nav {
  background: #fff;
  top: 64px;
}

/* line 105, public/styles/sass/styles.sass */
.menu-horizontal {
  background: #000 !important;
}

/* line 108, public/styles/sass/styles.sass */
.login {
  padding: 90px !important;
}

/* line 111, public/styles/sass/styles.sass */
.imagen {
  width: 100% !important;
  height: 320px;
  margin-left: 1%;
}

/* line 116, public/styles/sass/styles.sass */
.parrafo1 {
  position: relative;
  margin-top: 50px;
}

/* line 120, public/styles/sass/styles.sass */
.parrafo2 {
  position: relative;
  margin-top: 10px;
}

/* line 124, public/styles/sass/styles.sass */
.boton-adjuntar {
  margin-top: 2.8%;
  width: 20%;
}

/* line 128, public/styles/sass/styles.sass */
.login-button {
  width: 100% !important;
  position: relative;
  margin-top: 5% !important;
}

/* line 133, public/styles/sass/styles.sass */
.boton-publicar {
  margin-top: 2.8%;
  width: 100%;
  line-height: 40%;
}

/* line 138, public/styles/sass/styles.sass */
.btn-login {
  padding: 20px 0px 0px;
}

/* line 141, public/styles/sass/styles.sass */
.formulario-card {
  padding: 3% !important;
}

/* line 144, public/styles/sass/styles.sass */
.formulario-card .card {
  position: relative;
  top: 0px;
}

/* line 148, public/styles/sass/styles.sass */
.form {
  top: 210px;
}

/* line 152, public/styles/sass/styles.sass */
.card-add-beer {
  position: relative;
  top: 200px;
  margin-left: 10px;
}

/* line 157, public/styles/sass/styles.sass */
.button-register {
  font-size: 18px;
  position: relative;
  top: 25px;
}

@media only screen and (max-width: 992px) {
  /* line 163, public/styles/sass/styles.sass */
  header, main, footer {
    padding-left: 0;
  }
}

/* line 166, public/styles/sass/styles.sass */
.input-field input[type=search] {
  display: block;
  line-height: inherit;
  position: relative;
  height: 63px !important;
}

/* line 172, public/styles/sass/styles.sass */
.search-input {
  width: 500px !important;
  position: relative;
  left: 200px;
}

/* line 178, public/styles/sass/styles.sass */
.cardview {
  margin-left: 30px !important;
}

/* line 181, public/styles/sass/styles.sass */
.userdate {
  position: relative;
  padding-left: 8%;
  font-weight: 500;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
  color: #ffe089 !important;
}

/* line 192, public/styles/sass/styles.sass */
.userdate2 {
  position: relative;
  padding-left: 8%;
  color: gray;
  font-weight: 500;
  font-size: 0.8rem;
}

/* line 199, public/styles/sass/styles.sass */
.userdate3 {
  position: relative;
  padding-left: 8%;
  font-weight: 500;
  font-size: 1.4rem;
}

/* line 207, public/styles/sass/styles.sass */
.fecha {
  font-size: 1.2rem;
  position: relative;
  left: 18px;
}

/* line 212, public/styles/sass/styles.sass */
.text-size {
  font-weight: bold !important;
}

/* line 215, public/styles/sass/styles.sass */
.text-title {
  text-shadow: 4px 4px 4px #000;
}

/* line 218, public/styles/sass/styles.sass */
.text-header h3 {
  position: relative;
}

/* line 222, public/styles/sass/styles.sass */
.text-button {
  font-size: 1.5rem;
}

/* line 226, public/styles/sass/styles.sass */
.cervezasFeed {
  position: relative;
  top: 40px;
}

/* line 231, public/styles/sass/styles.sass */
.logo {
  position: relative;
  left: 40px;
}

/* line 236, public/styles/sass/styles.sass */
.beer-cards p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50ch;
}

/* line 243, public/styles/sass/styles.sass */
.comment-text {
  color: #ffe089 !important;
}

/* line 247, public/styles/sass/styles.sass */
.profile-img {
  position: relative;
  top: 13px;
  left: 0px;
}

/* line 253, public/styles/sass/styles.sass */
.card-lugares .card {
  margin-top: 2%;
}

/* line 257, public/styles/sass/styles.sass */
.footer-copyright {
  background: #01060877;
  background: -webkit-linear-gradient(to right, #121416, #171d1f);
  background: linear-gradient(to right, #171a1f, #151a1b);
  color: #ffe089 !important;
  padding: 1% !important;
}

/* line 265, public/styles/sass/styles.sass */
.cerveza-title {
  margin-left: 2%;
  text-align: left;
}

/* line 270, public/styles/sass/styles.sass */
.form-comentario {
  margin-left: 2%;
}

/* line 273, public/styles/sass/styles.sass */
.avatar {
  position: relative;
  top: 15px;
}

/* line 277, public/styles/sass/styles.sass */
.image-feed {
  margin-top: 20%;
  margin-left: 16%;
}

/* line 281, public/styles/sass/styles.sass */
.title-card {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50ch;
  white-space: nowrap;
}

/* line 287, public/styles/sass/styles.sass */
.comments {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50ch;
  white-space: nowrap;
}

/* line 294, public/styles/sass/styles.sass */
#dropdown1 {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  color: #fff !important;
}

/* line 301, public/styles/sass/styles.sass */
#dropdown1 li > a {
  color: #ffe089 !important;
}

/* line 305, public/styles/sass/styles.sass */
#slide-out {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  color: #fff !important;
}

/* line 311, public/styles/sass/styles.sass */
#slide-out i {
  color: #ffe089 !important;
}
