.row
  .col.l10.col.offset-l1
    if cervezas
      each cerveza in cervezas
        a(href=`/cerveza/${cerveza.id}`)

          .card.grey.darken-4.beer-cards.col.l4.m4.s12
            br
            a(href=`/cerveza/${cerveza._id}`)        
              img(src=`${cerveza.imagen}` class="imagen card-image ")
            p(class="comment-text") #{cerveza.comentarios}

//manejo de errores
if cervezas.length <=0
  .row
    h1(class="amber-text") ¡Sube tú cerveza!


