footer(class="poge-footer z-depth-5")
  .container
    br
    .row
      .col.l6.s12
        h5 LUPULOS
        p La nueva aplicación para los amantes de la cerveza artesanal. Específicamente cervezas artesanas, descubre nuevas variedades, nuevas marcas, lugares y eventos.
      .col.l4.offset-l2.s12

        ul
          li
            a(href='#!') Información
          li
            a(href='#!') Ayuda
          li
            a(href='#!') Prensa
          li
            a(href='#!') API
          li
          a(href='#!') Privacidad
          
  .footer-copyright.z-depth-6
    .container
      | © 2019 
      a(href='#!') Contacto
