block content
 .container
    .col.m12.l12
      form(action='/agregar', method='post', enctype='multipart/form-data', name='agregarItem')
        br
        .input-field
          input(type='text', name='title', class='form-control')
          label Nombre de la Cerveza      
        .input-field
          textarea(name='comentarios', cols='30', rows='10' class='form-control materialize-textarea')
          label Escribe un comentario sobre tu cerveza 
        div.file-field
          div.btn.yellow.darken-2.button.boton-adjuntar
            span
            input(type="file", name="imagen" )
            i.material-icons.center image
          div.file-path-wrapper
            input(type="text", class="file-path validate" placeholder="Subir una imagen de la cerveza" )
        button(type="submit" class="btn grey darken-3 right") PUBLICAR
