.vscode/
.DS_store/
public/upload/worker.svg
public/upload/1294932959.jpg
public/upload/8cc6368a7928b1de2f94a1a87c0d8cd2_320x320.jpg
public/upload/GOLDEN_874237c1-fddf-43d5-bdd1-112bca9f8949_2000x.jpg
public/upload/Universidad_Catolica_de_Chile.eps
public/upload/cell-tower.svg
public/upload/fuego.jpg
public/upload/images.jpeg
public/upload/kross_stout.jpg
public/upload/messenger.svg
public/upload/twitter-logo-silhouette.svg
public/upload/images.jpeg
public/upload/images.jpeg
