extends layout

block content
     .row
          if cervezas
               each cerveza in cervezas
                    br
                    .row
                         .imagen-cerveza.col.l5.left
                              img(src=`/upload/${cerveza.imagen}` class="imagen responsive-img")
                         .content-cerveza.col.l7
                              h2.title.left #{cerveza.title}

