doctype html
html(lang = "es")

  head
    title=tituloPrincipal
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  rel="stylesheet"  type="text/css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css")
    link(href="/styles/css/styles.css" rel="stylesheet" type="text/css" )

  body

    .col.offset-l4
      .navbar-fixed
        .conta
        nav
          a(href="#!" class="brand-logo logo") LÚPULOS

          ul(class="right hide-on-med-and-down")
            if user
              li
                a(href="/explorar")  Buscar Cerveceros
                  i(class="material-icons left") search

              li
                a(href="/inicio")  Cervezas
                  i(class="material-icons left") file_upload

              li
                a(href="/lugares")    Lugares
                  i(class="material-icons left") location_on

              li
                a(href="#" class="dropdown-button" data-activates="dropdown1" data-target='dropdown1')   
                  img.circle.profile-img(src=`${user.avatar(20)}`)

              ul#dropdown1.dropdown-content
                li
                  a(href='/prensa') Prensa
                    i.material-icons local_parking
                li
                  a(href='/blog') Blog
                    i.material-icons format_align_left

                li.divider(tabindex='-1')

                li
                  a(href='/privacidad') Privacidad 
                    i.material-icons security
                li
                  a(href='/mi/perfil')
                    i.material-icons account_circle
                    | Mi cuenta
                li
                  a(href='/logout')
                    i.material-icons exit_to_app
                    | Cerrar Sesión
            else 

              ul(class="left hide-on-med-and-down")
                li
                  a(onclick="mostrar_ocultar()") 
                    i.material-icons exit_to_app

    .row

      header.col.l12
        .container
          h2.title LÚPULOS
          h5.title.center La nueva aplicación para los amantes de la cerveza artesanal
            br
            br
            .row
              form(action="/login" method="post" id="formulario")

                .login(class="card grey darken-3 col m5 l12 col offset-m2 left z-depth-4")
                  .input-field
                    input(type="text", name="email", class=" ")
                    label Correo

                  .input-field
                    input(type="password", name="password", class="")
                    label Contraseña
                    button( type="submit" class="button btn btn-success grey darken-4 login-button ") LOGIN
                    a( onclick="mostrar_ocultar()" class="button btn btn-success grey darken-4 login-button ") REGISTRARSE
              .row

              form(action="/signup" method="post"  id="formulario2")
                .login(class="card grey darken-3 col m4 l12 left ")
                  .input-field
                    input(type="email", name="email", class="form-control")
                    label Correo
                  .input-field
                    input(type="text", name="username", class="form-control")
                    label Nombre de usuario
                  .input-field
                    input(type="text", name="biografia", class="form-control")
                    label Cuenta un poco acerca de ti
                  .input-field
                    input(type="password", name="password", class="form-control")
                    label Contraseña
                    button( type="submit" class="button btn btn-success grey darken-4 login-button") CREAR UNA CUENTA

  
   
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
  script(type="text/javascript" src="/js/app.js")




