doctype html
html(lang = "es")

head

  title=tituloPrincipal

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  rel="stylesheet"  type="text/css")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css")
  link(href="/styles/css/styles.css" rel="stylesheet" type="text/css" )


  body

    include components/header
    include components/nav
    .container
   
      block content
   
    include components/footer

   
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
  script(type="text/javascript" src="/js/app.js")




