doctype html
html(lang = "es")

head

  title=tituloPrincipal

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
  <link rel="stylesheet" href="/css/style.css" >

  body

    include components/header
    include components/nav
    .container
   
      block content
   
    include components/footer

  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
  script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(type="text/javascript" src ="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
  script(type='text/javascript' src='js/app.js')

