extends layout

block content
     .row
          .container
               if lugares
                    each lugar in lugares
                         .row
                              .col.l6
                                   a(href=`/lugar/${lugar._id}`)
                                   br
                                   img(src=`${lugar.imagen}` class="imagen " width="440" height="300")
                              .col.l6
                                   h2.title.left.cerveza-title #{lugar.nombre}
                                   p.col.l12 #{lugar.direccion}

                                   form(method='post' class="form-comentario")
                                     .input-field
                                        input(type='text', name='title', placeholder='Escribe un comentario')
                                           



